extends ../layout
block content
  h4 
    a(href='/acc/create') Create New
  h1 Account List
  table 
    thead
      tr
        th Id
        th Email
        th Role 
        th Image
    tbody 
      each item in accounts
        tr
          td= item._id 
          td= item.email
          td= item.role
          td
            img(src=`images/${item.image}` style="width:100px;height:auto;")